.header {
  position: relative;
  width: 100%;
}

.navbar {
  height: 50px;
  background: inherit;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 499px) {
  .navbar {
      display: none;
  }
}

.navbar ul {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  list-style: none;
}

.navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}


.navbar ul li a {
  margin: 5px 15px;
}

.navbar ul li:hover {
  background-color: rgb(46, 46, 46);
}
