.header {
  height: 100vh;
  background: #0a192f;
  text-align: center;
  color: white;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.laptop {
  position: relative;
  margin: 30px 0px;
  width: 100%;
  height: 100%;
  flex: 2 1 0px;
}

@media (max-width: 480px) {
  .laptop {
      width: 100vw;
      height: 50vh;
  }
}

.description {
  font-size: 1.5rem;
  flex: 1 1 0px;
  /* margin-bottom: 5rem; */
  position: relative;
  top: 1rem;
}

.coding {
  color: #64FFDA;
}
