.container {
  height: 100vh;
  display: flex;
}

.header {
  flex: 1 1 0px;
  background: orange;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin: 0;
  color: #0a192f;
}

.header h2 {
  color: white;
}

.graphs {
  flex: 1 1 0px;
  background: #CAD0E2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
